.form-control-borderless {
    border: none;
}

.container{
    background-color: burlywood;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.collapseUser{
    background-color: burlywood;
    border : 1px solid #000000;
    padding :20px
}