
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" name="filterTerm" [(ngModel)]="filterTerm" type="search" placeholder="Who are you looking for?">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit" >Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
                        <div class="col" *ngFor="let user of users | filter: filterTerm">
                            <div class="card">
                                <div class="card-body" onclick="getUser()">
                                    <h4 class="card-title">{{user.name}}</h4>
                                    <button style="right:auto" >View</button>
                                </div>
                            </div>
                        </div>
                </div>
